<mat-card class="card-opcion" routerLink="/patient-list">
  <mat-card-title>Pacientes</mat-card-title>
  <mat-card-content>
    Gestión de pacientes del sistema NoctuWell.
  </mat-card-content>
</mat-card>
<mat-card class="card-opcion" routerLink="/plan-list">
  <mat-card-title>Planes</mat-card-title>
  <mat-card-content>
    Gestión de planes y sus características.
  </mat-card-content>
</mat-card>
<mat-card class="card-opcion" routerLink="/specialist-list">
  <mat-card-title>Especialistas</mat-card-title>
  <mat-card-content>
    Gestión de especialistas y sus tipos.
  </mat-card-content>
</mat-card>
<mat-card class="card-opcion" routerLink="/type-specialist-list">
  <mat-card-title>Tipos de Especialista</mat-card-title>
  <mat-card-content>
    Administrar los tipos de especialista disponibles en NoctuWell.
  </mat-card-content>
</mat-card>
<mat-card class="card-opcion" routerLink="/appointment-list">
  <mat-card-title>Citas</mat-card-title>
  <mat-card-content>
    Gestión de citas entre pacientes y especialistas.
  </mat-card-content>
</mat-card>
