.container {
  max-width: 1100px;
}

.full-width-table {
  width: 100%;
  margin-top: 10px;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.filtro {
  flex: 1;
}
